<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soccer players</title>
    <link rel="stylesheet" href="/styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <h1>Dream soccer team</h1>
      <hr />
      <a class="add" href="/new">New player</a>
      <ul>
        <% players.forEach(player=> { %>
        <li>
          <div>
            <h2><%=player.playerName%></h2>
            <p><span>Team: </span><%=player.playerTeam %></p>
            <p><span>Position: </span><%=player.playerPosition%></p>
            <p><span>Age: </span><%=player.age%></p>
            <p><span>Market value: </span><%=player.marketValue%></p>
          </div>
          <div>
            <a class="edit" href="/edit/<%= player.id %>">Edit</a>
            <a class="delete" href="/api/players/delete/<%= player.id %>"
              >Delete</a
            >
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
