<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= heading %></title>
    <link rel="stylesheet" href="/styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <h1><%= heading %></h1>

      <% if (locals.player) { %>
      <form class="editForm" method="POST" action="/api/players/<%=player.id%>">
        <input type="text" name="name" value="<%=player.playerName %>" />
        <input type="text" name="team" value="<%=player.playerTeam %>" />
        <input
          type="text"
          name="position"
          value="<%=player.playerPosition %>"
        />
        <input
          type="number"
          name="age"
          min="0"
          step="1"
          value="<%=player.age %>"
        />
        <input
          type="text"
          name="marketValue"
          value="<%=player.marketValue %>"
        />
        <button class="full-width" type="submit"><%= submit %></button>
      </form>
      <% } else {%>
      <form class="newForm" method="POST" action="/api/players">
        <input type="text" name="name" placeholder="Name" required />
        <input type="text" name="team" placeholder="Team" required />
        <input type="text" name="position" placeholder="Position" required />
        <input
          type="number"
          name="age"
          min="0"
          step="1"
          placeholder="Age"
          required
        />
        <input
          type="text"
          name="marketValue"
          placeholder="Market value"
          required
        />
        <button class="full-width" type="submit"><%= submit %></button>
      </form>
      <% } %>
    </div>
  </body>
</html>
